body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



.einzahlung {
    color: #3C763D;
}

.auszahlung {
    color: #A94442;
}

#sidebar-wrapper {
    background-color: #F7F7F9;
}

.compact_table {
    width: auto;
}

.compact, .alert {
    width: auto;
    height: auto;
}


.nav-sidebar li.active {
    background-color: #CCC;
}

.nav-sidebar li.active a:hover {
    background-color: #CCC;

}



